
<section class="todoapp">
  <header class="header">
    <h1>Your Lists</h1>
    <%= form_for(@list) do |f| %>
    <%if @list.errors[:name].present?%>
      <%= f.text_field :name, :class => "new-todo", :placeholder => "List must have a name...", :autofocus=>""%>
      <%else%>
      <%= f.text_field :name, :class => "new-todo", :placeholder =>"Enter a new list name...", :autofocus=>""%>

      <%end%>
      <%= f.submit :style => "display: none" %>
    <% end %>

  </header>
  <section class="main">
    <ul class="todo-list">
      <% @lists.each do |list| %>
      <li>
        <div class="view">
          <label><%= link_to list.name, list_path(list) %></label>
              <!-- <%= link_to '', lists_path(list), :method => "delete", :class => "destroy" %> -->
              <%=form_tag(list_path(list), :method=> :delete) do %>
                  <button type='submit' class='destroy'></button>
                  <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </section>
  <footer class="footer" style="display: block;">
  				<span class="todo-count"><%=pluralize(@lists.count, 'list')%></span>
  				<ul class="filters">
  					<li>
  						<a href="#/" class="selected">Your Lists</a>
  					</li>
  					<li>
  						<a href="/shared_lists">Shared Lists</a>
  					</li>
  					<li>
  						<a href="/sessions/logout">Logout</a>
  					</li>
  				</ul>
  				<button class="clear-completed" style="display: none;"></button>
  			</footer>
</section>
