
<section class="todoapp">
  <header class="header">
    <h1>Shared Lists</h1>
    <ul class="todo-list">
      <li>
        <div class="view">
        <label class>Your Shared Lists</label>
      </li>
    </ul>
  </header>
  <section class="main">

    <ul class="todo-list">
      <% @lists.each do |list| %>
      <li>
        <div class="view">
          <label><%= link_to list.name, list_path(list) %></label>
              <!-- <%= link_to '', lists_path(list), :method => "delete", :class => "destroy" %> -->
                  <form action='/lists/delete_shared' method='post'>

                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                      <input type="hidden" name="_method" value="destroy">
                      <input type="hidden" name="id" value="<%=list.id%>">
                    <button type='submit' class='destroy'></button>
                  </form>
        </div>
      </li>
      <% end %>
    </ul>
  </section>
  <footer class="footer" style="display: block;">
  				<span class="todo-count"><%=pluralize(@lists.count, 'list')%></span>
  				<ul class="filters">
  					<li>
  						<a href="/lists">Your Lists</a>
  					</li>
  					<li>
  						<a href="/shared_lists" class="selected">Shared Lists</a>
  					</li>
  					<li>
  						<a href="/sessions/logout">Logout</a>
  					</li>
  				</ul>
  				<button class="clear-completed" style="display: none;"></button>
  			</footer>
</section>
