<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <%= form_for([@list, @item]) do |f| %>
      <%= f.text_field :description, :class => "new-todo", :placeholder => (@item.errors.full_messages_for(:description).first || "Enter a new item..."), :autofocus=>""%>

      <%= f.submit :style => "display: none", :id=>'to-do-submit', :data => { :disabled_with => false } %>
    <% end %>
  </header>
  <section class="main">
    <ul class="todo-list">
      <%@list.items.each do |item|%>
       <li class="<%= "completed" if item.completion %>">
        <div class="view">
          <%= form_for([@list, item]) do |f| %>
            <%= f.check_box :completion, :class => "toggle", :checked => (item.completion) %>
          <% end %>
          <label><%=item.description%></label>
          <%if item.user == @user%>

          <%=form_tag(list_item_path(item.list, item), :method=> :delete) do %>
              <button type='submit' class='destroy' ></button>
            <% end %>
          <% end %>
        </div>
      </li>
      <%end%>
    </ul>
  </section>


  <footer class="footer" style="display: block;">
  				<span class="todo-count"><%=pluralize(@list.items.count, 'item')%></span>
  				<ul class="filters">
            <li>
  						<a href="/lists">Your Lists</a>
  					</li>
            <%if @list.user==@user%>
    					<li>
    						<a href="/lists/<%=@list.id%>/edit">Share List</a>
    					</li>
              <%else%>
              <li>
    						<a href="/shared_lists">Shared Lists</a>
    					</li>
            <%end%>

  					<li>
  						<a href="/sessions/logout">Logout</a>
  					</li>
  				</ul>
  			 <button class="clear-completed" style="display: none;"></button>
  			</footer>
</section>


<script id="item-template" type="text/x-handlebars-template">
  <li class="item" id="item_{{id}}">
    <div class="view">
      <form class="edit_item" id="edit_item_{{id}}" action="/lists/<%= @list.id %>/items/{{id}}" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="patch">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input name="item[status]" type="hidden" value="0"><input class="toggle" type="checkbox" value="1" name="item[status]" id="item_status"></form>

      <label>{{description}}</label>

      <form class="button_to" method="post" action="/lists/<%= @list.id %>/items/{{id}}">
        <input type="hidden" name="_method" value="delete">
        <button type='submit' class='destroy'></button>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </div>
  </li>
</script>
