<%= form_for(user) do |f| %>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>

  <%=f.submit%>
<% end %>

<% if flash[:errors]%>
    <%flash[:errors].each do |error|%>
    <p><%=error%></p>
  <%end%>
<%end%>

<div class='connect'>asdf</div>
<form class="connect-button" name="login" method="post" action="https://grove.io/social/github/redirect/" id="github-connect-form">
<div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="65e89b2c4752f056fb2572dfc945fb7d"></div>


<a href="login.html#" onclick="$('#github-connect-form').submit(); return false;" title="Sign Up with GitHub"><img src="static/img/github-icon.png">Login with <strong>GitHub</strong></a>
</form>
