
<section class="todoapp">
  <section class="main">
    <h1>Welcome!</h1>
    <ul class="todo-list">
      <li>
        <div class="view">
          <label>Register</label>
          </li>
          <%= form_for(user) do |f| %>
          <li>
            <%= f.text_field :username, :class => "new-todo", :placeholder => (@user.errors.full_messages_for(:username).first || "Username"), :autofocus=>""%>
          </li>

          <li>
            <%= f.password_field :password, :class => "new-todo", :placeholder => (@user.errors.full_messages_for(:password).first || "Password"), :autofocus=>""%>
          </li>
          <li>
              <%= f.password_field :password_confirmation, :class => "new-todo", :placeholder => (@user.errors.full_messages_for(:password_confirmation).first || "Password Confirmation"), :autofocus=>""%>
          </li>
    </ul>
      <%= f.submit :style => "display: none" %>
    <% end %>
    <ul class="todo-list">
      <li>
        <div class="view">
          <label>Login</label>
        </div>
      </li>
      <form action='/sessions' method='post'>
        <input type='hidden' name='authenticity_token' value="<%=form_authenticity_token%>">
        <input type='text' class="new-todo" placeholder=" <%= flash[:login_error] || "Username" %>" autofocus="" name='user[username]'>
        <li>
          <input type='password' class="new-todo" placeholder='<%= flash[:login_error] || "Password" %>' autofocus="" name='user[password]'>
        </li>
        <input type='submit' value='Login' style = "display: none">
      </form>
    </ul>
  </section>

  <footer class="footer" style="display: block;">
  				<ul class="filters">
  					<li>
  						<%= link_to('Log in with Github!', '/auth/github') %>
  					</li>
  				</ul>
  				<button class="clear-completed" style="display: none;"></button>
  			</footer>
</section>
